<ctype html public "-//w3c//dtd xhtml 1.0 strict//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<title>qbank </title>

<style type="text/css">
html {
	background-color: #ededed;
}

body {
   	font-family: frutiger, "frutiger linotype", univers, calibri, "gill sans", "gill sans mt", "myriad pro", myriad, "dejavu sans condensed", "liberation sans", "nimbus sans l", tahoma, geneva, "helvetica neue", helvetica, arial, sans-serif;
      	width: 600px;
      	padding: 20px 40px 40px;
      	margin: 0 auto;
      	margin-top: 15px;
      	border: 1px solid #ccc;
      	background-color: #fff;
}
   
h1 {
 	color: #000;
}

.section_a, .section_b, .section_c, .section, .section2, .section3, .item {
 	 padding: 0px 15px;
}

.item, .item2, .item3, .item_a, .item_b, .item_c {
	background-color: #dcf0f7;
     	border: 1px solid #ddd;
      	margin-bottom: 4px;
      	padding: 5px 15px;
}

.helptext {
	color: #999;
       	padding-left: 10px;
}

a.delete:hover {
	color: red;
}
</style>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>


<script type="text/javascript">
	$(document).ready(function() {
		function updateElementIndex(el, prefix, ndx) {
			var id_regex = new RegExp('(' + prefix + '-\\d+-)');
			var replacement = prefix + '-' + ndx + '-';
			if ($(el).attr("for")) 
				$(el).attr("for", $(el).attr("for").replace(id_regex,replacement));
			if (el.id) 
				el.id = el.id.replace(id_regex, replacement);
			if (el.name) 
				el.name = el.name.replace(id_regex, replacement);
		}
		function deleteForm(btn, prefix) {
		        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
			if (formCount > 1) {
				$(btn).parents('.item').remove();
				var forms = $('.item'); // Get all the forms
				$('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);

				var i = 0;

				for (formCount = forms.length; i < formCount; i++) {
					$(forms.get(i)).children().children().each(function() {
							updateElementIndex(this, prefix, i);
							});
				}
			     } // End if
			else {
				alert("You have to enter at least one todo item!");
			 }
			return false;	
		}



function deleteForm2(btn, prefix) {
		        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
			if (formCount > 1) {
				$(btn).parents('.item2').remove();
				var forms = $('.item2'); // Get all the forms
				$('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);

				var i = 0;

				for (formCount = forms.length; i < formCount; i++) {
					$(forms.get(i)).children().children().each(function() {
							updateElementIndex(this, prefix, i);
							});
				}
			     } // End if
			else {
				alert("You have to enter at least one todo item!");
			 }
			return false;	
			}

			
			function deleteForm3(btn, prefix) {
		        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
			if (formCount > 1) {
				$(btn).parents('.item3').remove();
				var forms = $('.item3'); // Get all the forms
				$('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);

				var i = 0;

				for (formCount = forms.length; i < formCount; i++) {
					$(forms.get(i)).children().children().each(function() {
							updateElementIndex(this, prefix, i);
							});
				}
			     } // End if
			else {
				alert("You have to enter at least one todo item!");
			 }
			return false;	
			}



			function addForm(btn, prefix) {
				var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
				if (formCount < 10) {
					var row = $(".item:first").clone(false).get(0);
					$(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);
					$(".errorlist", row).remove();
					$(row).children().removeClass('error');
					$(row).children().children().each(function() {
							updateElementIndex(this, prefix, formCount);
							if ( $(this).attr('type') == 'text' )
							$(this).val('');													       });
					$(row).find('.delete').click(function() {
							return deleteForm(this, prefix);
							});
					$('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1); 
				} // End if

				else {
					alert("Sorry, you can only enter a maximum of ten items.");
				}
				return false;
			}

function addForm2(btn, prefix) {
				var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
				if (formCount < 10) {
					var row = $(".item2:first").clone(false).get(0);
					$(row).removeAttr('id').hide().insertAfter(".item2:last").slideDown(300);
					$(".errorlist", row).remove();
					$(row).children().removeClass('error');
					$(row).children().children().each(function() {
							updateElementIndex(this, prefix, formCount);
							if ( $(this).attr('type') == 'text' )
							$(this).val('');													       });
					$(row).find('.delete2').click(function() {
							return deleteForm2(this, prefix);
							});
					$('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1); 
				} // End if

				else {
					alert("Sorry, you can only enter a maximum of ten items.");
				}
				return false;
			}
			function addForm3(btn, prefix) {
				var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
				if (formCount < 10) {
					var row = $(".item3:first").clone(false).get(0);
					$(row).removeAttr('id').hide().insertAfter(".item3:last").slideDown(300);
					$(".errorlist", row).remove();
					$(row).children().removeClass('error');
					$(row).children().children().each(function() {
							updateElementIndex(this, prefix, formCount);
							if ( $(this).attr('type') == 'text' )
							$(this).val('');													       });
					$(row).find('.delete3').click(function() {
							return deleteForm3(this, prefix);
							});
					$('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1); 
				} // End if

				else {
					alert("Sorry, you can only enter a maximum of ten items.");
				}
				return false;
			}


			

		
			$("#add").click(function() {
					return addForm(this, 'form');
					});




			$("#add2").click(function() {
					return addForm2(this, 'form');
					});
				$("#add3").click(function() {
					return addForm3(this, 'form');
					});

		

			$(".delete").click(function() {
					return deleteForm(this, 'form');
					});
				$(".delete2").click(function() {
					return deleteForm2(this, 'form');
					});
	$(".delete3").click(function() {
					return deleteForm3(this, 'form');
					});

			


	
		
		});
</script>
</head>
<body><h1>Qtool: question banking made easy</h1>
	<h2>Problem</h2>
	<form action="" method="post">
		{% csrf_token %}
		<div class="section_a">
			<div class ="item_a">
				{{ problem_form.as_p }}
			</div>
		</div>

	
		<div class ="section">
		<h2>Variables</h2>
		{{ variable_formset.management_form }}
		{% for form in variable_formset.forms %}
		<div class="item">
			{{ form.as_p }}
			<p style=""><a class="delete" href="#">Delete</a></p>
		</div>
		{% endfor %}
		<p><a id="add" href="#">Add another variable</a></p>
		<a id="help" href="#">Help?</a>
		</div>





  <div class="section_b">
	  <h2>Solution </h2>
	  <div class ="item_b">
		  {{answer_form.as_p }}
		  </div>
			                </div>
	<div class = "section2">
		 <h2>Choices</h2>
		 {{ choice_formset.management_form }}
	         {% for form in choice_formset.forms %}
	         <div class="item2">
	                 {{ form.as_p }}
	                 <p style=""><a class="delete2" href="#">Delete</a></p>
		 </div>
		 {% endfor %}
		  <p><a id="add2" href="#">Add another choice</a></p>
		 </div>	


	<div class="section_c">
		<h2>Problem Template </h2>
		<div class ="item_c">
			{{problem_template_form.as_p }}
			</div>
		</div>


		 <div class = "section3">
		 <h2>Hints</h2>
		 {{ hint_formset.management_form }}
	         {% for form in hint_formset.forms %}
	         <div class="item3">
	                 {{ form.as_p }}
	                 <p style=""><a class="delete3" href="#">Delete</a></p>
		 </div>
		 {% endfor %}
		  <p><a id="add3" href="#">Add another hint</a></p>
		 </div>	

		
		
		
		
<input type="submit" value=" submit " />
</form>
</body>
</html>

