html {
	background-color: #ededed;
}

body {
   	font-family: frutiger, "frutiger linotype", univers, calibri, "gill sans", "gill sans mt", "myriad pro", myriad, "dejavu sans condensed", "liberation sans", "nimbus sans l", tahoma, geneva, "helvetica neue", helvetica, arial, sans-serif;
      	width: 600px;
      	padding: 20px 40px 40px;
      	margin: 0 auto;
      	margin-top: 15px;
      	border: 1px solid #ccc;
      	background-color: #fff;
}
   
h1 {
 	color: #000;
}

.section_a, .section_b, .section_c, .section, .section2, .section3, .item {
 	 padding: 0px 15px;
}

.item, .item2, .item3, .item_a, .item_b, .item_c {
	background-color: #dcf0f7;
     	border: 1px solid #ddd;
      	margin-bottom: 4px;
      	padding: 5px 15px;
}

.helptext {
	color: #999;
       	padding-left: 10px;
}

a.delete:hover {
	color: red;
}

