<!DOCTYPE html>
<html data-require="math">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title>{{title}}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
 <script>urlBaseOverride = "/qtool/";</script>
<script src="/qtool/khan-exercise.js"></script>
<script type="text/javascript"
     src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>


</head>
<body>

<div class="exercise" data-name="/qtool/exercises/{{p.title}}">

</div>

	
</body>
</html>



