<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>QBANK</title>

<style type="text/css">

html {
	background-color: #8596AA;
}

body {
      font-family:sans-serif;font-size:12px;font-weight:normal;font-color:#000;
      width: 700px;
      padding: 40px 40px 40px;
      margin: 0 auto;
      margin-top: 15px;
      border: 1px solid #ccc;
      background-color: #fff;
      box-shadow: 0px 0px 10px 10px #888888;
      }
   
h1 {
	color: #356397;
      }
textarea { vertical-align: top; }

.section_a, .section_b, .section_c, .section, .section2, .section3, .section4, .item {
 	 padding: 0px 15px;
 }

.item, .item2, .item3, .item4, .item_a, .item_b, .item_c {

     	border: 1px solid #ddd;
      	margin-bottom: 4px;
      	padding: 5px 15px;
	}
	
.attr {
	font-size: 11pt;

}

.helptext {
	color: #999;
       	padding-left: 10px;
}

a:link{color:#B22222;text-decoration:none}a:visited{color:#B22222;text-decoration:none}
a:hover{color:#000}
a:active{color:#B22222}}



#id_message {
	color:#C0C0C0;
	}
	#footer{padding-top:25px;padding-bottom:1px;border-color:#000;text-align:center;font-family:sans-serif;font-size:10px;font-weight:normal;font-color:#000000;margin-top:10px;margin-bottom:20px;clear:both;color:#777}

#footer a:link{color:#777;text-decoration:none}
#footer a:visited{color:#777;text-decoration:none}
#footer a:hover{color:#b22222}
#footer a:active{color:#000}

.web_dialog_overlay
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background: #000000;
   opacity: .15;
   filter: alpha(opacity=15);
   -moz-opacity: .15;
   z-index: 101;
   display: none;
}
.web_dialog
{
   display: none;
   position: fixed;
   width: 380px;
   height: 200px;
   top: 50%;
   left: 50%;
   margin-left: -190px;
   margin-top: -100px;
   background-color: #ffffff;
   border: 2px solid #336699;
   padding: 0px;
   z-index: 102;
   font-family: Verdana;
   font-size: 10pt;
   overflow:scroll;
   }
.web_dialog_title
{
   border-bottom: solid 2px #336699;
   background-color: #336699;
   padding: 4px;
   color: White;
   font-weight:bold;
}
.web_dialog_title a
{
   color: White;
   text-decoration: none;
}
.align_right
{
   text-align: right;
}


#tabs{position:absolute;right:0em;top:77px}
#tabs ul{list-style:none;padding:0;margin:0}

#tabs li{display:inline;border:solid #b9bbbb 1px;border-bottom:1px #dfdfdf;margin:0 0.5em 0 .2em;padding-top:5px;padding-bottom:4px;background:white}

#tabs li a{padding:0em 1em}
#tabs .selected{padding-bottom:4px;background:white;border-bottom:white 1px solid}
#account_info{float:right;text-align:right;color:#000;clear:none}
#header_right{position:relative}
#header .logo{border:1 none;opacity:1;float:left; no-repeat transparent;height:78px;width:83px}


.banner1{border:0 none;opacity:1;float:left;no-repeat transparent;height:78px;width:600px}

#header{border-bottom:medium none;margin-bottom:0;height:95px;margin:0 auto 0px;width:700px}

#container{font-family:sans-serif;font-size:12px;font-weight:normal;font-color:#000;  border: 1px solid #ccc;}
#container.full-site{width:700px;margin-left:auto;margin-right:auto;margin-top:14px}s

.myfieldclass
{
	border: #777 1px solid; 
        font-family: courier, monospace; 
        font-size: 14px; 
        height: 50px; 
        padding: 4px;
}





</style>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>


<script type="text/javascript">
	$(document).ready(function() {
   
	$(".btnShowSimple").click(function (e)
      	{
         ShowDialog(false);
         e.preventDefault();
      	});

     
      	$("#btnClose").click(function (e)
      	{
         HideDialog();
         e.preventDefault();
      	});

     


 function ShowDialog(modal)
   {
      $("#overlay").show();
      $("#dialog").fadeIn(300);

      if (modal)
      {
         $("#overlay").unbind("click");
      }
      else
      {
         $("#overlay").click(function (e)
         {
            HideDialog();
         });
      }
   }

   function HideDialog()
   {
      $("#overlay").hide();
      $("#dialog").fadeOut(300);
   } 

$(".btnShowSimple1").click(function (e)
      	{
         ShowDialog1(false);
         e.preventDefault();
      	});

     
      	$("#btnClose1").click(function (e)
      	{
         HideDialog1();
         e.preventDefault();
      	});

     


 function ShowDialog1(modal)
   {
      $("#overlay1").show();
      $("#dialog1").fadeIn(300);

      if (modal)
      {
         $("#overlay1").unbind("click");
      }
      else
      {
         $("#overlay1").click(function (e)
         {
            HideDialog1();
         });
      }
   }

   function HideDialog1()
   {
      $("#overlay1").hide();
      $("#dialog1").fadeOut(300);
   }   

  $(".btnShowSimple2").click(function (e)
      	{
         ShowDialog2(false);
         e.preventDefault();
      	});

     

  $("#btnClose2").click(function (e)
      	{
         HideDialog2();
         e.preventDefault();
      	});

     


 function ShowDialog2(modal)
   {
      $("#overlay2").show();
      $("#dialog2").fadeIn(300);

      if (modal)
      {
         $("#overlay2").unbind("click");
      }
      else
      {
         $("#overlay2").click(function (e)
         {
            HideDialog2();
         });
      }
   }

   function HideDialog2()
   {
      $("#overlay2").hide();
      $("#dialog2").fadeOut(300);
   }    

  $(".btnShowSimple3").click(function (e)
      	{
         ShowDialog3(false);
         e.preventDefault();
      	});

     
      	$("#btnClose3").click(function (e)
      	{
         HideDialog3();
         e.preventDefault();
      	});

     


 function ShowDialog3(modal)
   {
      $("#overlay3").show();
      $("#dialog3").fadeIn(300);

      if (modal)
      {
         $("#overlay3").unbind("click");
      }
      else
      {
         $("#overlay3").click(function (e)
         {
            HideDialog3();
         });
      }
   }

   function HideDialog3()
   {
      $("#overlay3").hide();
      $("#dialog3").fadeOut(300);
   }    

  $(".btnShowSimple4").click(function (e)
      	{
         ShowDialog4(false);
         e.preventDefault();
      	});

     
      	$("#btnClose4").click(function (e)
      	{
         HideDialog4();
         e.preventDefault();
      	});

     


 function ShowDialog4(modal)
   {
      $("#overlay4").show();
      $("#dialog4").fadeIn(300);

      if (modal)
      {
         $("#overlay4").unbind("click");
      }
      else
      {
         $("#overlay4").click(function (e)
         {
            HideDialog4();
         });
      }
   }

   function HideDialog4()
   {
      $("#overlay4").hide();
      $("#dialog4").fadeOut(300);
   }    
 


		function updateElementIndex(el, prefix, ndx) {
			var id_regex = new RegExp('(' + prefix + '-\\d+-)');
			var replacement = prefix + '-' + ndx + '-';
			if ($(el).attr("for")) 
				$(el).attr("for", $(el).attr("for").replace(id_regex,replacement));
			if (el.id) 
				el.id = el.id.replace(id_regex, replacement);
			if (el.name) 
				el.name = el.name.replace(id_regex, replacement);

		}
		
		function deleteForm(btn, prefix) {
			var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
			if (formCount > 1) {							       
			       	$(btn).parents('.item').remove();
			var forms = $('.item'); 
			$('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
			var i = 0;
			for (formCount = forms.length; i < formCount; i++) {
				$(forms.get(i)).children().children().each(function(){ 
						updateElementIndex(this, prefix, i);				          
						});

			}
			}
			else {
				alert("You have to enter a question"); 
			}return false;
			
		}
	function deleteForm2(btn, prefix) {
			var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
			if (formCount > 1) {							        	
				$(btn).parents('.item2').remove();
			var forms = $('.item2'); 
			$('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
			var i = 0;
			for (formCount = forms.length; i < formCount; i++) {
				$(forms.get(i)).children().children().each(function() {					
						updateElementIndex(this, prefix, i);				           
						});										        
			}
			}
			else {
				alert("You have to enter an answer"); 
			}return false;
			
	}

		function deleteForm3(btn, prefix) {
			var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
			if (formCount > 1) {							        
			$(btn).parents('.item3').remove();
			var forms = $('.item3'); 
			$('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
			var i = 0;
			for (formCount = forms.length; i < formCount; i++) {
				$(forms.get(i)).children().children().each(function() {
						updateElementIndex(this, prefix, i);				          
						});										         
			}
			}
			else {
				alert("You have to enter at least one choice"); 
			}return false;
			
		}

			function deleteForm4(btn, prefix) {
			var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
			if (formCount > 1) {							        
			$(btn).parents('.item4').remove();
			var forms = $('.item4'); 
			$('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
			var i = 0;
			for (formCount = forms.length; i < formCount; i++) {
				$(forms.get(i)).children().children().each(function() {
						updateElementIndex(this, prefix, i);				          
						});										         
			}
			}
			else {
				alert("You have to enter at least one hint "); 
			}return false;
			
		}
		function addForm(btn, prefix) {
			var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
			if (formCount < 10) {
				var row = $(".item:first").clone(false).get(0);
				$(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);
				$(".errorlist", row).remove();
				$(row).children().removeClass('error');
				$(row).children().children().each(function() {
						updateElementIndex(this, prefix, formCount);
						if ( $(this).attr('type') == 'text' )
						$(this).val('');
						});
				$(row).find('.delete').click(function() {
						return deleteForm(this, prefix);
						});
				$('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1); 
			} // End if
			else {
				alert("Sorry, you can only enter a maximum of ten items.");
			}
			return false;
		}	

		function addForm2(btn, prefix) {
			var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
			if (formCount < 10) {
				var row = $(".item2:first").clone(false).get(0);
				$(row).removeAttr('id').hide().insertAfter(".item2:last").slideDown(300);
				$(".errorlist", row).remove();
				$(row).children().removeClass('error');
				$(row).children().children().each(function() {
						updateElementIndex(this, prefix, formCount);
						if ( $(this).attr('type') == 'text' )
						$(this).val('');
						});
				$(row).find('.delete2').click(function() {
						return deleteForm(this, prefix);
						});
				$('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1); 
			} // End if
			else {
				alert("Sorry, you can only enter a maximum of ten items.");
			}
			return false;
		}

		function addForm3(btn, prefix) {
			var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
			console.log($('#id_' + prefix + '-TOTAL_FORMS').val());
			if (formCount < 10) {
				var row = $(".item3:first").clone(false).get(0);
				$(row).removeAttr('id').hide().insertAfter(".item3:last").slideDown(300);
				$(".errorlist", row).remove();
				$(row).children().removeClass('error');
				$(row).children().children().each(function() {
						updateElementIndex(this, prefix, formCount);
						if ( $(this).attr('type') == 'text' )
						$(this).val('');
						});
				$(row).find('.delete3').click(function() {
						return deleteForm(this, prefix);
						});
				$('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1); 
			} // End if
			else {
				alert("Sorry, you can only enter a maximum of ten items.");
			}
			return false;
		}
	
	function addForm4(btn, prefix) {
			var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
			console.log($('#id_' + prefix + '-TOTAL_FORMS').val());
			if (formCount < 10) {
				var row = $(".item4:first").clone(false).get(0);
				$(row).removeAttr('id').hide().insertAfter(".item4:last").slideDown(300);
				$(".errorlist", row).remove();
				$(row).children().removeClass('error');
				$(row).children().children().each(function() {
						updateElementIndex(this, prefix, formCount);
						if ( $(this).attr('type') == 'text' )
						$(this).val('');
						});
				$(row).find('.delete4').click(function() {
						return deleteForm(this, prefix);
						});
				$('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1); 
			} // End if
			else {
				alert("Sorry, you can only enter a maximum of ten items.");
			}
			return false;
		}
			$("#add").click(function() {
					return addForm(this, 'variables');
					});

			$("#add2").click(function() {
					return addForm2(this, 'choices');
					});
			$("#add3").click(function() {
					return addForm3(this, 'hints');
					});
			$("#add4").click(function() {
					return addForm4(this, 'hints');
					});
		
		

			$(".delete").click(function() {
					return deleteForm(this, 'variables');
					});
			$(".delete2").click(function() {
					return deleteForm2(this, 'choices');
					});
			$(".delete3").click(function() {
					return deleteForm3(this, 'hints');
					});
				$(".delete4").click(function() {
					return deleteForm3(this, 'scripts');
					});
				
});	
</script>
</head>
<body class="full-site">
   
   <h1>QBank: Problem Authoring Made Easy</h1>
   
   <div id="container" class='full-site'>
 <div id="header">

        <a href="/qtool/" class="banner1"></a>
         <div id="header_right">
        
	  <div id="tabs"> 
               <ul>
                  <li >
               	   <a href="/qtool/">Home</a>
               	</li>
               	<li >
               	   <a href="/qtool/index/">Write a question!</a>
               	</li>
                            <li >
               	   <a href="/qtool/problems/">Find questions</a>
               	</li>
	
               	<li >
               	   <a href="qtool/help/"> Help</a>
               	</li>

        
               </ul>
            </div>
         </div>
       
      </div>

    </div>
	<h2>Problem</h2>
	<form action="" method="POST" >
		{% csrf_token %}
		<div class="section_a">
			<div class ="item_a"><span style="float:right">
				<input type="button" id="btnShowSimple"  class="btnShowSimple" value="What's this?" />
				<br /><br />       
    
				<div id="output"></div>
    
				<div id="overlay" class="web_dialog_overlay"></div>
    
				<div id="dialog" class="web_dialog">
				<table style="width: 100%; border: 0px;" cellpadding="3" cellspacing="0">
				<tr>
         			<td class="web_dialog_title">Help</td>
         			<td class="web_dialog_title align_right">
            			<a href="#" id="btnClose">Close</a>
        			</td>
      				</tr>
      				<tr>
				         <td>&nbsp;</td>
				         <td>&nbsp;</td>
			      	</tr>
			     	 <tr>
         			<td colspan="2" style="padding-left: 15px;">
					<b>Title and Difficulty </b>
         			</td>
      				</tr>
      				<tr>
         			<td>&nbsp;</td>
         			<td>&nbsp;</td>
     				 </tr>
      				<tr>

			 <td colspan="2" style="padding-left: 15px;">
            			<div id="brands">
				    <b>Title</b>: Unique identifier 
<ul>
<li>Filename used to save the problem onto database</li>
<li>Filename for the problem generated in different formats</li>
</ul>
<p>

Eg.: 'Addition' can be used as the title. The problem is stored as Addition on the Database. When the problem is generated as a csv file, 'Addition.csv' gets created. <p>

				
				    <b>Difficulty</b>: Pick a difficulty level which denotes the level of hardness of the authored problem.<p>
<ul>
<li>Useful when the problem is published in a system that handles interlligent tutoring.
</li>
</ul>
		            </div>

         			</td>
      				</tr>
      				<tr>
         			<td>&nbsp;</td>
         			<td>&nbsp;</td>
     				 </tr>
      			
  			 </table>
			</div>
		</span>
				{{ problem_form.as_p }}
			</div>
		</div>

	
		
	<div class="section_c">
		<h2>Problem Template </h2>
		<div class ="item_c">
			<span style="float:right">
				<input type="button" id="btnShowSimple1"  class="btnShowSimple1" value="What's this?" />
				<br /><br />       
    
				<div id="output"></div>
    
				<div id="overlay1" class="web_dialog_overlay"></div>
    
				<div id="dialog1" class="web_dialog">
				<table style="width: 100%; border: 0px;" cellpadding="3" cellspacing="0">
				<tr>
         			<td class="web_dialog_title">Help</td>
         			<td class="web_dialog_title align_right">
            			<a href="#" id="btnClose1">Close</a>
        			</td>
      				</tr>
      				<tr>
				         <td>&nbsp;</td>
				         <td>&nbsp;</td>
			      	</tr>
			     	 <tr>
         			<td colspan="2" style="padding-left: 15px;">
				<b>Question </b>
         			</td>
      				</tr>
      				<tr>
         			<td>&nbsp;</td>
         			<td>&nbsp;</td>
     				 </tr>
      				<tr>
         			<td colspan="2" style="padding-left: 15px;">
		            	 <div id="brands">
		             Write a question with static text. <p>

Eg: 
<p>How many cents are there in 4 quarters, 10 dimes, 7 nickels?
<p>
		            </div>

			         </td>
				      </tr>
				      <tr>
			         <td>&nbsp;</td>
         			<td>&nbsp;</td>
     				 </tr>
      
  			 </table>
			</div>
		</span>
			{{problem_template_form.as_p }}
			{{ problem_template_formset.management_form }}
			{% for form in problem_template_formset.forms %}
		
				{{ form.as_p }}
			{% endfor %}

		</div>		
			
		</div>


  	<div class="section_b">
	  <h2>Solution </h2>
	  <div class ="item_b"><span style="float:right">
				<input type="button" id="btnShowSimple2"  class="btnShowSimple2" value="What's this?" />
				<br /><br />       
    
				<div id="output"></div>
    
				<div id="overlay2" class="web_dialog_overlay"></div>
    
				<div id="dialog2" class="web_dialog">
				<table style="width: 100%; border: 0px;" cellpadding="3" cellspacing="0">
				<tr>
         			<td class="web_dialog_title">Help</td>
         			<td class="web_dialog_title align_right">
            			<a href="#" id="btnClose2">Close</a>
        			</td>
      				</tr>
      				<tr>
				         <td>&nbsp;</td>
				         <td>&nbsp;</td>
			      	</tr>
			     	 <tr>
         			<td colspan="2" style="padding-left: 15px;">
            			<b>Answer </b>
         			</td>
      				</tr>
      				<tr>
         			<td>&nbsp;</td>
         			<td>&nbsp;</td>
     				 </tr>
      				<tr>
         			<td colspan="2" style="padding-left: 15px;">
		            	 <div id="brands">
				Specify the <i>right</i> choice here, which is the correct answer expected of the student.<p>
This gets added as one of the choices for the student to select from.<p>
Eg.:<p> Below are two examples of how solution can be specified differently. 
<ul>
<li>
Static text<p>
Question: What is the principle of Stacks?<p>
Solution: Last in First Out</li>
<p>
<li>
Question: How many cents are there in 4 quarters, 10 dimes, 7 nickels?<p>
Solution: 235
</li>
</ul>
</div>
</td>
</tr>
				      <tr>
			         <td>&nbsp;</td>
         			<td>&nbsp;</td>
     				 </tr>
      
  			 </table>
			</div>
		</span>
		  {{answer_form.as_p }}
		  {{ answer_formset.management_form }}
		  {% for form in answer_formset.forms %}
		  
		  	{{ form.as_p }}
		  {% endfor %}
	</div>
</div>

	<div class = "section2">
		<h2>Choices</h2>
		 {{ choice_formset.management_form }}
	         {% for form in choice_formset.forms %}
	         <div class="item2"><span style="float:right">
				<input type="button" id="btnShowSimple3"  class="btnShowSimple3" value="What's this?" />
				<br /><br />       
    
				<div id="output"></div>
    
				<div id="overlay3" class="web_dialog_overlay"></div>
    
				<div id="dialog3" class="web_dialog">
				<table style="width: 100%; border: 0px;" cellpadding="3" cellspacing="0">
				<tr>
         			<td class="web_dialog_title">Help</td>
         			<td class="web_dialog_title align_right">
            			<a href="#" id="btnClose3">Close</a>
        			</td>
      				</tr>
      				<tr>
				         <td>&nbsp;</td>
				         <td>&nbsp;</td>
			      	</tr>
			     	 <tr>
         			<td colspan="2" style="padding-left: 15px;">
            			<b>Choices </b>
         			</td>
      				</tr>
      				<tr>
         			<td>&nbsp;</td>
         			<td>&nbsp;</td>
     				 </tr>
      				<tr>
         			<td colspan="2" style="padding-left: 15px;">
		              <div id="brands">
		              Specify options for students that act as distractors from the correct answer. <p>Do not include the correct answer. The 'Solution' is included as one of the options.<p>
<b>Eg.:</b>
<ul>
<li>Which is better Big O value:<p>
Choices:<p>
O(n)<p>
O(n^2)<p>
O(logn)<p>
</li>
<li>How many cents are there in 4 quarters, 10 dimes, 7 nickels? <p>
Choices:<p>
220<p>
195<p>
</li>
</ul>
</div>
 </td>
</tr>
				      <tr>
			         <td>&nbsp;</td>
         			<td>&nbsp;</td>
     				 </tr>
      
  			 </table>
			</div>
		</span>
	                 {{ form.as_p }}
	                 <p style=""><a class="delete2" href="#">Delete</a></p>
		 </div>
		 {% endfor %}
		  <p><a id="add2" href="#">Add another Choice</a></p>
		 </div>	



		 <div class = "section3">
		 <h2>Hints</h2>
		 {{ hint_formset.management_form }}
	         {% for form in hint_formset.forms %}
	         <div class="item3"><span style="float:right">
				<input type="button" id="btnShowSimple4"  class="btnShowSimple4" value="What's this?" />
				<br /><br />       
    
				<div id="output"></div>
    
				<div id="overlay4" class="web_dialog_overlay"></div>
    
				<div id="dialog4" class="web_dialog">
				<table style="width: 100%; border: 0px;" cellpadding="3" cellspacing="0">
				<tr>
         			<td class="web_dialog_title">Help</td>
         			<td class="web_dialog_title align_right">
            			<a href="#" id="btnClose4">Close</a>
        			</td>
      				</tr>
      				<tr>
				         <td>&nbsp;</td>
				         <td>&nbsp;</td>
			      	</tr>
			     	 <tr>
         			<td colspan="2" style="padding-left: 15px;">
            			<b>Hints </b>
         			</td>
      				</tr>
      				<tr>
         			<td>&nbsp;</td>
         			<td>&nbsp;</td>
     				 </tr>
      				<tr>
         			<td colspan="2" style="padding-left: 15px;">
		           1 or more hints with text information related to the question. <p>			         </td>
				      </tr>
				      <tr>
			         <td>&nbsp;</td>
         			<td>&nbsp;</td>
     				 </tr>
      
  			 </table>
			</div>
		</span>
	                 {{ form.as_p }}
	                 <p style=""><a class="delete3" href="#">Delete</a></p>
		 </div>
		 {% endfor %}
		  <p><a id="add3" href="#">Add another Hint</a></p>
	  </div>	

	  	
		 <center>		
			 <input type="submit" style="text-align:center; " value=" Save and Generate " />
		</center>
	
	  <div id="footer">
         <a href="/qtool/">About QBank</a> | 
	 <a href="/qtool/">Help</a> | 
         <a href="/qtool/">Contact Us</a>
      </div>
	</form>
</body>
</html>


